{% extends 'base.html' %}
{% block content %}
<div class="container mt-4">
    <h3>Connection Requests</h3>
    {% if received_requests %}
        <ul class="list-group">
            {% for request in received_requests %}
                <div class="list-group-item list-group-item-action d-flex justify-content-between align-items-center p-3 mb-2">
                    {% if message %} 
                       <b>{{message}}</b>
                    {% else %}
                    <div class="col-3">
                        <strong class="h5">{{ request.sender.first_name }} {{ request.sender.last_name }}</strong>
                        <p class="mb-1 text-muted">{{ request.sender.email }}</p>
                    </div>
                    <div class="col-6">
                    </div>
                   
                    <div class="col-3">
                        <form action="{% url 'accept_request' request.id %}" method="post" style="display: inline-block;">
                            {% csrf_token %}
                            <button class="btn btn-success">Accept</button>
                        </form>
                        <form action="{% url 'reject_request' request.id %}" method="post"  style="display: inline-block;">
                            {% csrf_token %}
                            <button class="btn btn-danger">Reject</button>
                        </form>
                    </div>
                    {% endif %}
                </div>
            {% endfor %}
        </ul>
    {% else %}
        <p>No connection requests.</p>
    {% endif %}
</div>
{% endblock %}
