{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <h3 class="mt-4">Reset Password</h3>
        {% if valid_link %}
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="meeting_title">New Password:</label>
                    <input type="password" name="password" class="form-control" placeholder="Enter your new password" required>
                </div>
                <div class="form-group">
                    <label for="meeting_title">Confirm New Password:</label>
                    <input type="password" name="confirm_password" class="form-control" placeholder="Re-Enter your new password" required>
                </div>
                <button type="submit" id="scheduleButton" class="btn btn-primary mb-4">Reset Password</button>
            </form>
        {% else %}
            <p>This link is invalid or has expired.</p>
        {% endif %}
        {% if messages %}
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}
